*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* HEADER */

header {
    min-height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

#logo {
    height: 40px;
}

.call-to-action {
    margin: 5px;
    padding: 5px 30px;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* MAIN */

main {
    position: relative;
    height: calc(100vh - 80px);
}

#sidebar {
    float: left;
    width: 150px;
    height: 100%;
    overflow-y: scroll;
    background-color: black;
}

#main-content {
    position: absolute;
    float: left;
    left: 150px;
    top: 0;
    width: calc(100vw - 150px);
    height: 100%;
    background-color: red;
    overflow-y: scroll;
}

.playlist {
    position: absolute;
    top: 60px;
    width: 150px;
    height: calc(100vh- 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: scroll;

}

#user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    background-color: turquoise;
}

.sidebar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow-y: scroll;
}


.playlist .sidebar-menu img {
    height: 25px;
    margin: 5px 5px 0 5px;
}


.top-menu {
    position: absolute;
    top: 60px;
    width: 100%;
    float: top;
}

.menu-items {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.categories {
    padding-top: 100px;

}

.thumbnails {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.song-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tile {
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 5px;
}

.artist-round {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}

.caption {
    margin: 5px;
}

main::after {
    content: "";
    clear: both;
    display: table;
}



footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 80px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
   
}

.left-footer-items, .right-footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-thumbnail {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 5px;
}

.small-caption {
    display: flex;
    flex-direction: column;
}


.center-footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal-menu, .song-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playback-bar {
    height: 5px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    align-self: center;
}

.volume {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    align-self: center;
}

i, .playback-bar, .volume {
    margin: 5px;
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 50px;
    }

    .playlist {
        display: none;
    }

    #user-info {
        display: none;
    }

    #main-content {
        left: 50px;
        width: calc(100vw - 50px);
    }
}

@media screen and (max-height: 150px){
    .call-to-action {
        display: none;
    }

    #logo {
        display: none;
    }
}
