*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


/* MAIN */

main {
    position: relative;
    height: calc(100vh - 80px);
}

/* HEADER */

header {
    min-height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
}

.call-to-action {
    align-self: center;
    transform: translate(-90%);
    margin: 5px 20px;
    padding: 5px 20px;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.call-to-action:hover {
    transform: translate(-60%);
    border-radius: 22px;
    font-size: 18px;
}

/* SIDEBAR */

#sidebar {
    float: left;
    width: 150px;
    height: 100%;
    background-color: black;
    font-size: 14px;
}



#sidebar-top {
    width: 150px;
    height: calc(100vh- 150px);
    overflow: hidden;
}

#logo {
    height: 40px;
    opacity: 1;
}

.logo-mobile, .icons-mobile {
    display: none;
}

.logo-mobile {
    width: 40px;
}

.icons-mobile {
    width: 30px;
    opacity: 0.6;
}



.sidebar-menu li {
    opacity: 0.6;
}

.sidebar-menu li h4 {
    opacity: 0.9;
}

#lists li a {
    opacity: 0.6;
}

.sidebar-menu li:hover, #lists li a:hover, .sidebar-menu li h4:hover, .icons-mobile a:hover {
    opacity: 0.9;
}

#sidebar #lists {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#sidebar #lists li {
    margin: 5px;
}

#user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-start;
    width: 150px;
    height: 100px;
    background-color: black;
}

#user-info #install {
    margin: 5px;
    opacity: 0.6;
    font-size: 12px;    
}

#user-info #user {
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

hr {
    height: 2px;
    width: 80%;
    margin: auto;
    opacity: 0.6;
}

#user-info span img {
    height: 20px;
    background-color: grey;
    border-radius: 45%;
    margin: 10px 10px 0 10px;
}

#user-info span:hover {
    opacity: 0.9;
}

.sidebar-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 5px;
}


#sidebar-top .sidebar-menu .sidebar-menu-item img  {
    height: 25px;
    margin: 5px 5px 0 5px;
}

/* MAIN CONTENT */

#main-content {
    position: absolute;
    float: left;
    left: 150px;
    top: 0;
    width: calc(100vw - 150px);
    height: 100%;
    background-color: #141923;
    overflow-y: scroll;
}

/* TOP MENU */


.top-menu {
    position: absolute;
    top: 60px;
    width: 100%;
    float: top;
    font-size: 12px;
}

.menu-items {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}

a {
    text-decoration: none;

}

ul {
    list-style-type: none;
    position: relative;
}

.menu-items li a.active::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: -3px;
    left: 0;
    transform: translateX(50%);

}

/* MAIN CONTENT GALLERY */

.categories {
    padding-top: 100px;
}

.categories h2 {
    font-weight: 700;
    margin: 5px;
}

.thumbnails {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1% 0% 3% 0%;
}

.song-card {
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
}

.tile img, .artist-round img {
    width: 100%;
    margin: 5px;
}

.artist-round img {   
    border-radius: 50%;
    margin: 5px;
}

.caption {
    margin: 5px;
}

main::after {
    content: "";
    clear: both;
    display: table;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 80px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
   
}

.left-footer-items, .right-footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.small-thumbnail {
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 5px;
}

.small-caption {
    display: flex;
    flex-direction: column;
}


.center-footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizontal-menu, .song-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playback-bar {
    height: 5px;
    width: 300px;
    border-radius: 5px;
    background-color: white;
    align-self: center;
}

.volume {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
    align-self: center;
}

i, .playback-bar, .volume {
    margin: 5px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 901px) and (max-width: 1000px) {
    .song-card {
        width: calc(100% / 5)
    }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
    .song-card {
        width: calc(100% / 4)
    }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
    .song-card {
        width: calc(100% / 3)
    }
}

@media screen and (max-width: 600px) {
    #sidebar {
        width: 50px;
    }

    #sidebar-top {
        display: none;
    }

    #user-info {
        display: none;
    }

    #main-content {
        left: 50px;
        width: calc(100vw - 50px);
    }

    .top-menu {
        display: none;
    }

    .song-card {
        width: calc(100% / 2)
    }

    .logo-mobile, .icons-mobile {
        display: block;
        z-index: 999;
    }

    #logo {
        display: none;
    }
}

@media screen and (max-height: 150px){
    .call-to-action {
        display: none;
    }

    #logo {
        display: none;
    }


}
